aliyun_python_sdk_alinlp==1.0.20
aliyun_python_sdk_core==2.15.0
apex==0.9.10dev
beautifulsoup4==4.12.3
betterproto==1.2.5
boto3==1.34.74
botocore==1.34.74
ftfy==6.2.0
jieba==0.42.1
lxml==5.1.0
numpy==1.26.4
pandas==2.2.2
pytorch_pretrained_bert==0.6.2
regex==2023.12.25
Requests==2.31.0
scikit_learn==1.4.1.post1
spacy==3.7.4
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow_intel==2.16.1
torch==2.2.2
tqdm==4.66.2
websocket_client==1.7.0
